---
import Layout from "../layouts/Layout.astro";
import AboutSection from "../components/About.astro";
import ContactSection from "../components/ContactArea.astro";
import ExperienceSecction from "../components/Experience.astro";
import FeaturedProjectSection from "../components/FeaturedProject.astro";
import StackSection from "../components/Stack.astro";
---

<Layout title="Taufik Nurhidayat">
  <main>
    <AboutSection />
    <StackSection />
    <FeaturedProjectSection />
    <ExperienceSecction />
    <ContactSection />
  </main>
</Layout>
