---
import Layout from "../layouts/Layout.astro";
import AboutSection from "../components/About.astro";
import ContactSection from "../components/ContactArea.astro";
import StackSection from "../components/Stack.astro";
---

<Layout title="Taufik Nurhidayat">
  <main class="">
    <AboutSection />
    <StackSection />
    <ContactSection />
    <div style="min-height: 2000px;"></div>
  </main>
</Layout>
