---
import Layout from "../layouts/Layout.astro";
import AboutSection from "../components/About.astro";
---

<Layout title="Welcome to Astro.">
  <main class="">
    <AboutSection />
  </main>
</Layout>
