---
import { Image } from "astro:assets";
import Me from "../../public/full-body.png";
import Sosmed from "./Sosmed.astro";
---

<section id="about" class="container lg:max-w-6xl px-4 my-8 lg:my-16 mx-auto">
  <div class="flex flex-wrap gap-8 lg:gap-0 items-center">
    <div class="lg:order-last w-full lg:w-6/12">
      <Image
        src={Me}
        width={448}
        height={448}
        class="w-full max-w-md mx-auto lg:mr-0"
        alt="Taufik Nurhidayat"
      />
    </div>
    <div class="w-full lg:w-6/12">
      <p class="text-xl text-slate-700">Hi, i am Taufik Nurhidayat</p>
      <h1 class="text-4xl mt-2 font-bold">Developer and Writer</h1>
      <p class="text-slate-700 mt-8">
        I'm a passionate freelance web developer with over a year of experience
        in crafting robust web applications. Skilled in Next.js (React),
        Tailwind CSS, TypeScript, and Rust. Known for my adaptability and quick
        learning, I thrive in dynamic environments. Let's create something
        amazing together!
      </p>
      <Sosmed/>
      </div>
  </div>
</section>
