---
import { Image } from "astro:assets";
import MeSquare from "../images/profile-square.png";
import Me from "../images/profile.png";
---

<section class="container lg:max-w-6xl px-4 my-8 lg:my-16 mx-auto">
  <div class="flex flex-wrap gap-8 lg:gap-0 items-center">
    <div class="lg:order-last w-full lg:w-6/12">
      <Image
        src={MeSquare}
        class="w-full lg:hidden max-w-md mx-auto lg:mr-0"
        alt="Taufik Nurhidayat"
      />
      <Image
        src={Me}
        class="w-full hidden lg:block max-w-md mx-auto lg:mr-0"
        alt="Taufik Nurhidayat"
      />
    </div>
    <div class="w-full lg:w-6/12">
      <p class="text-xl text-slate-700">Hi, i am Taufik Nurhidayat</p>
      <h1 class="text-4xl mt-2 font-bold">Developer and Writer</h1>
      <!-- <p class="mt-8 text-slate-700"> -->
      <!--   Frontend / Fullstack Developer focusing on <strong>Next.js</strong>, -->
      <!--   <strong>React</strong>, <strong>TailwindCSS</strong>, <strong -->
      <!--     >HTMX</strong -->
      <!--   >. Dedicated to creating a web with a great <i>user experience</i>, -->
      <!--   amazing and constantly learning new technologies. If you are looking for -->
      <!--   a developer to bring creativity and innovation to your next project, -->
      <!--   let's connect and make it happen. -->
      <!-- </p> -->
      <p class="text-slate-700 mt-8">
        Passionate developer creating user-centric experiences with cutting-edge
        tech like Next.js, React, Tailwind CSS, and HTMX. Driven to improve
        performance and engagement, I recently boosted X conversion rate by Y%
        in Project Z. Let's craft something amazing together!
      </p>
      <div class="mt-8">
        <button class="btn btn-square" aria-label="Facebook">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
            ></path></svg
          >
        </button>
        <button class="btn btn-square" aria-label="Twitter / X">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-x"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M4 4l11.733 16h4.267l-11.733 -16z"></path><path
              d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path></svg
          >
        </button>
        <button class="btn btn-square" aria-label="YouTube">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z"
            ></path><path d="M10 9l5 3l-5 3z"></path></svg
          >
        </button>
        <button class="btn btn-square">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-mail"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
            ></path><path d="M3 7l9 6l9 -6"></path></svg
          >
        </button>
      </div>
    </div>
  </div>
</section>
