---
import Section from "./Section.astro";
import Sosmed from "./Sosmed.astro";
---

<Section id="contact" title="Contact">
  <div class="">
    <p>You can contact me by sending an email to taufik@nurhidayat.web.id</p>
    <p class="mt-4">Or you can connect with me via social media below.</p>
    <Sosmed/>
  </div>
</Section>
