---
import NavbarNavigation from "./NavbarNavigation.astro";
---

<header class="shadow-lg">
  <nav class="container mx-auto navbar bg-base-100">
    <div class="flex-1">
      <a
        href="/"
        hx-indicator=".progress-bar"
        class="btn btn-square btn-ghost no-animation text-xl"
      >
        <svg
          class="h-full fill-current"
          version="1.1"
          viewBox="0 0 120 120"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="m15 15v15h25v65l15 15v-95h-40zm50 0v95l15-15v-65h25v-15h-40zm-50 25v32.5l15 15v-47.5h-15zm75 0v47.5l15-15v-32.5h-15z"
          ></path>
        </svg>
      </a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1 hidden lg:inline-flex">
        <NavbarNavigation />
      </ul>
      <div class="dropdown dropdown-end lg:hidden">
        <button tabindex="0" class="btn btn-ghost btn-square">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M4 8l16 0"></path><path d="M4 16l16 0"></path></svg
          >
        </button>
        <ul
          class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
        >
          <NavbarNavigation />
        </ul>
      </div>
    </div>
  </nav>
</header>
