---
interface Props {
  id: string;
  title: string;
  description?: string;
}
let { id, title, description } = Astro.props;
---

<section
  id={id}
  class="container mx-auto px-4 py-16 lg:max-w-6xl"
  style="margin-top: -5rem; padding-top: 5rem;"
>
  <div>
    <h2 class="text-2xl font-bold">{title}</h2>
    {description && <p class="mt-2">{description}</p>}
  </div>
  <div class="mt-8">
    <slot />
  </div>
</section>
