---
import Section from "./Section.astro";

const stack_lists = [
  {
    title: "HTML5",
    icon: "html5",
  },
  {
    title: "CSS3",
    icon: "css3",
  },
  {
    title: "React",
    icon: "react",
  },
  {
    title: "Svelte",
    icon: "svelte",
  },
  {
    title: "Apine.js",
    icon: "alpinedotjs",
  },
  {
    title: "HTMX",
    icon: "htmx",
  },
  {
    title: "Tailwind CSS",
    icon: "tailwindcss",
  },
  {
    title: "Next.js",
    icon: "nextdotjs",
  },
  {
    title: "Actix",
    icon: "actix",
  },
  {
    title: "Astro",
    icon: "astro",
  },
  {
    title: "Tauri",
    icon: "tauri",
  },
  {
    title: "TypeScript",
    icon: "typescript",
  },
  {
    title: "JavaScript",
    icon: "javascript",
  },
  {
    title: "Rust",
    icon: "Rust",
  },
  {
    title: "PostgreSQL",
    icon: "postgresql",
  },
  {
    title: "Docker",
    icon: "docker",
  },
  {
    title: "Podman",
    icon: "podman",
  },
  {
    title: "Nix",
    icon: "nixos",
  },
  { title: "Linux", icon: "linux" },
  {
    title: "Git",
    icon: "git",
  },
  {
    title: "PNPM",
    icon: "pnpm",
  },
  {
    title: "Bun",
    icon: "bun",
  },
  {
    title: "Node.js",
    icon: "nodedotjs",
  },
  { title: "Neovim", icon: "neovim" },
];
---

<Section title="Stack and Tools" id="stack">
  <div class="flex select-none flex-wrap gap-1">
    {
      stack_lists.map((item) => (
        <span class="inline-flex cursor-default gap-2 rounded-btn border bg-base-100 px-4 py-3 text-sm font-semibold duration-150 ease-in hover:-translate-y-2 hover:shadow-lg">
          <img
            height="200"
            width="200"
            class="h-5 w-5"
            src={`https://cdn.simpleicons.org/${item.icon}`}
            alt={item.title}
          />
          <span>{item.title}</span>
        </span>
      ))
    }
  </div>
</Section>
