---
import "../app.css";
import Navbar from "../components/Navbar.astro";
import ProgressBar from "../components/ProgressBar.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
      is:inline
      src="https://unpkg.com/htmx.org@2.0.3"
      integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
      crossorigin="anonymous"></script>
  </head>
  <body hx-boost="true">
    <ProgressBar />
    <Navbar />
    <main>
      <slot />
    </main>
  </body>
</html>
